body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    padding: 2rem;
}

h1 {
    margin-bottom: 1.5rem;
}

footer {
    font-size: 0.85rem;
    color: #666;
}


.nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.nav-link:hover {
    text-decoration: none;
    color: #07284a !important;
}


table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #dee2e6;
}

th {
    background-color: #0d6efd;
    color: white;
}

td, th {
    text-align: center;
    padding: 0.75rem;
    vertical-align: middle;
}


a, button {
    font-size: 0.9rem;
}

.btn-add {
    background-color: #198754;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.btn-edit {
    color: #fff;
    background-color: #ffc107;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
}

.btn-delete {
    color: #fff;
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
